
.container {
	position: relative;
}

.plus {
	position: absolute;
	cursor: pointer;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	path {
		fill:white;
		transition: .2s;
	}
	&:hover {
		path {
			fill: var(--primary-color);
		}
	}
}

input {
	background: var(--background-color);
	height: 30px;
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	border: 1px solid rgba(white, .15);
	padding: 2px 30px 2px 15px;
	white-space: nowrap;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: white;
	width: 250px;
	//transition: .2s;
	&::placeholder {
		font-family: Roboto, sans-serif;
		font-weight: 500;
		font-size: 13px;
		color: rgba(white, .6);
	}
	//&:focus {
	//	width: 500px;
	//}
	//&:focus, &:hover {
	//	border: 1px solid var(--accent-color);
	//}
}

span {
	transition: .2s;
	font-family: Roboto, sans-serif;
	font-size: 13px;

	color: white;
}

.bottom-panel {
	transition: height .2s;
}

.bottom-panel__toggler {
	padding: 20px 25px;
	opacity: .5;
	transition: .2s;
	background-color: var(--background-color);
	&:hover {
		opacity: 1;
		cursor: pointer;
	}
	img {
		transition: .2s;
		height: 20px;
		width: 20px;
	}
	.more_open {
		transform: rotate(180deg);
	}
}

.add-group-input {
	position: relative;
}

.bottom-panel__action {
	padding: 20px 15px 0;
	overflow: hidden;
	box-sizing: border-box;
}

.settings-panel-wrap {
	position: absolute;
	overflow: hidden;
	right: 0;
	bottom: 0;
	z-index: 1000;
	height: 0;
}

.settings-panel-wrap_open {
	height: initial;
}

.settings-panel {
	transform: translateY(200%);
	box-sizing: border-box;
	transition: .2s;
	padding: 20px 30px;
	width: calc(100vw - 220px);
	background-color: var(--background-navbar-color);
}

.settings-panel_open {
	transform: translateY(0);
}

.bottom-panel__toggler_open {
	opacity: 1;
}

.close-icon {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	padding: 5px;
	transition: .2s;
	border-radius: 5px;
	&:hover {
		background-color: rgba(white, .1);
	}
}

button {
	position: relative;
	outline: none;
	border-radius: 5px;
	border: none;
	color: var(--background-color);
	span {
		color: var(--background-color);
	}
	background: var(--primary-color);
	font-family: Roboto, sans-serif;
	height: 30px;
	padding: 0 10px;
	cursor: pointer;
	transition: .2s;
	//&:hover {
	//	background: rgba(#BB86FC, .9);
	//}
	&:disabled {
		opacity: .5;
		cursor: default;
		pointer-events: none;
	}

	.btn-loader {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
	}
}

.btn_process {
	.btn-loader {
		opacity: 1;
	}
	.btn-span {
		opacity: 0;
	}
}

.button_delete {
	background: transparent;
	border-radius: 5px;
	border: 1px solid rgba(white, .1);
	span {
		color: white;
	}
	&:hover {
		background: rgba(white, .1);
	}
}

.vertical-divider {
	border-left: 1px solid rgba(white, .1);
}
