
a {
	text-decoration: none;

}


.group-item {
	border-radius: 5px;
	padding: 10px 0;
	//background-color: #03DAC6;
	cursor: pointer;
	transition: .2s;
	opacity: .5;
	span {
		transition: .2s;
		font-family: Roboto, sans-serif;
		font-size: 13px;

		color: white;
	}
	&:hover {
		opacity: 1;
	}
}


.active {
	opacity: 1;
}
