
.browse {
	padding: 30px;
}

.m-35 {
	margin: 35px;
}

.loader {
	height: 600px;
}

.reference-box {
	margin-bottom: 35px;
}

span {
	transition: .2s;
	font-family: Roboto, sans-serif;
	font-size: 13px;

	color: rgba(white, .5);
}

.no-image {

}
