<div class="bottom-panel">
    <div (click)="openChange(!open)" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="default center" [class.bottom-panel__toggler_open]="open" class="bottom-panel__toggler">
        <div fxLayoutAlign="center center">
            <img src="assets/img/auto_awesome.svg" alt="">
        </div>
        <div>
            <span>
                Управление группами
            </span>
        </div>
    </div>
</div>
<div class="settings-panel-wrap">
    <div [class.settings-panel_open]="open" class="settings-panel">
        <div fxLayout="row" fxLayoutGap="25px">
            <div fxLayout="row" fxLayoutGap="10px">
                <input (keydown.enter)="addGroup()" [(ngModel)]="label" type="text" placeholder="Название группы">
                <ngx-colors
                        ngx-colors-trigger
                        [palette]="colorPalette"
                        [(ngModel)]="selectedColor"
                        [hideColorPicker]="true"
                        [hideTextInput]="true"
                ></ngx-colors>

                <button (click)="addGroup()" [class.btn_process]="addProcess" [disabled]="!label && !addProcess">
                    <pref-loader class="btn-loader"></pref-loader>
                    <span class="btn-span">
                        Добавить
                    </span>
                </button>
            </div>
            <div *ngIf="groupId" class="vertical-divider"></div>
            <button *ngIf="groupId" (click)="deleteGroup()" class="button_delete" [class.btn_process]="deleteProcess">
                <pref-loader class="btn-loader"></pref-loader>
                <span class="btn-span">
                    Удалить текущую группу
                </span>
            </button>
        </div>
        <div (click)="openChange(false)" class="close-icon" fxLayoutAlign="center center">
            <img src="assets/img/close.svg" alt="">
        </div>
    </div>

</div>

