<div class="template-container" fxLayout="column">
    <pref-header></pref-header>
    <div fxLayout="row">
        <pref-side-bar class="sidebar"></pref-side-bar>
        <div fxFlex class="content">
            <perfect-scrollbar>
                <router-outlet></router-outlet>
            </perfect-scrollbar>
            <div class="notification-bar" [class.notification-bar_open-group-action]="groupBarOpen">
                <pref-notifications-bar></pref-notifications-bar>
            </div>
        </div>
    </div>
</div>
