<div class="sidebar" fxLayoutAlign="space-between" fxLayout="column" fxLayoutGap="25px">
    <div class="sidebar-items">
        <perfect-scrollbar>
            <pref-side-bar-group-item [group]="{label: 'Все группы', id: 'all', color: 'rgba(255, 255, 255, .5)'}"></pref-side-bar-group-item>
            <pref-side-bar-group-item *ngFor="let tag of tags;let index=index" [group]="tag"></pref-side-bar-group-item>
        </perfect-scrollbar>

    </div>
    <div>
        <pref-side-bar-add-group></pref-side-bar-add-group>
<!--        <button>Добавить группу</button>-->
    </div>
</div>
