<div class="panel">
    <input [(colorPicker)]="color" [style.background]="color" class="color-picker" [style]="{background: color}"/>
    <div  class="topic-wrap"  fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="center">
        <div *ngFor="let topic of topics$ | async" [class]="'topic topic-' + topic.theme">
            <span>
                {{topic.title}}
            </span>
        </div>
        <div class="topic futureTopic" [style]="{visibility: (mode === 'create') ? 'visible' : 'hidden'}">
            <input type="text" #futureTopicInput [(ngModel)]="futureTopicInputValue" (keydown.enter)="createTopic(futureTopicInputValue)">
        </div>

    </div>
</div>
<div class="option-block">
    <button mat-icon-button class="button-icon" (click)="click(futureTopicInput)" *ngIf="mode === 'default'">
        <mat-icon class="icon-create">add</mat-icon>
    </button>
    <button mat-icon-button class="button-icon" (click)="mode = 'create'" *ngIf="mode === 'default'">
        <mat-icon class="icon-delete">delete</mat-icon>
    </button>
    <button mat-icon-button class="button-icon" (click)="mode = 'default'" *ngIf="mode !== 'default'">
        <mat-icon class="icon-cancel">cancel</mat-icon>
    </button>
</div>
